#playing-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  background-color: burlywood;
  margin: 0 auto;
  padding: 40px;
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  width: 250px;
  height: 350px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.left,
.right {
  display: flex;
  flex-direction: column;
  padding: 7px;
  font-size: 2em;
  font-weight: bold;
}

.left {
  align-self: flex-start;
}

.middle {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 5em;
}

.right {
  align-self: flex-end;
  transform: rotate(180deg);
}

.rotate {
  transform: rotate(180deg);
}

.red {
  color: red;
}

.only {
  align-self: center;
}
